.footer {
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 10rem;
    background-color: var(--clr-bg-400);

    @media (max-width: em(575)) {
      height: initial;
    }
  }

  &__top-wrapper {
    @media (max-width: em(575)) {
      flex-direction: column;
      padding-bottom: 3rem;
      gap: 3rem;
    }
  }

  &__navigation {
    gap: 6rem;

    &-item {
      a {
        position: relative;
        line-height: 160%;
        color: var(--clr-default-100);

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -0.4rem;
          width: 0;
          height: 0.2rem;
          background-color: var(--clr-accent-hover-500);
          transition: width var(--transition);
        }

        @media (hover) {
          &:hover::after {
            width: 100%;
            transition: width var(--transition);
          }
        }
      }
    }

    @media (max-width: em(1023)) {
      display: none;
    }
  }

  &__logo {
    margin-top: 1rem;

    @media (max-width: em(575)) {
      margin-top: -1rem;
    }
  }

  &__buttons {
    gap: 3rem;
  }

  &__button {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    height: 4.4rem;
    letter-spacing: 2px;

    @media (max-width: em(1023)) {
      display: none;
    }
  }

  &__location {
    gap: 1.5rem;

    .text {
      font-size: 1.4rem;
      line-height: 160%;
      color: var(--clr-default-100);
    }
  }

  &__bottom-common {
    gap: 1rem;

    @media (max-width: em(1023)) {
      flex-direction: column;
      border-bottom: 0.1rem solid var(--clr-typography-400);
      padding-bottom: 3rem;
      gap: 4rem;
    }
  }

  &__contacts {
    align-items: center;
    gap: 6rem;

    @media (max-width: em(1023)) {
      gap: 3rem;
    }

    @media (max-width: em(767)) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
    }
  }

  &__contact {
    flex-direction: column;

    p {
      font-size: 1.2rem;
      line-height: 160%;
      color: var(--clr-typography-400);
    }

    a {
      line-height: 160%;
      color: var(--clr-default-100);
    }

    @media (max-width: em(1023)) {
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;
    }
  }

  &__socials {
    gap: 1rem;
  }

  &__socials-wrapper {
    gap: 4rem;

    @media (max-width: em(1060)) {
      gap: 2rem;
    }

    @media (max-width: em(420)) {
      flex-direction: column;
    }
  }

  &__social {
    border-radius: 0.5rem;
    width: 4.8rem;
    height: 4.8rem;
    background-color: rgba(126, 133, 161, 0.1);
    transition: background-color var(--transition);
    cursor: pointer;

    a {
      svg {
        opacity: 0.5;
        transition: opacity var(--transition);
      }
    }

    @media (hover) {
      &:hover {
        background-color: rgba(126, 133, 161, 0.3);

        a {
          svg {
            opacity: 1;
          }
        }
      }
    }
  }

  &__wework {
    max-width: 14.5rem;
    line-height: 160%;
    color: var(--clr-default-100);

    @media (max-width: em(1023)) {
      font-size: 1.4rem;
    }

    @media (max-width: em(420)) {
      max-width: initial;
    }
  }

  &__bottom {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--clr-bg-500);

    &-wrapper {
      gap: 2rem;
    }

    @media (max-width: em(1023)) {
      padding-top: 3rem;
      padding-bottom: 2rem;
    }
  }

  &__info-links {
    gap: 3rem;
  }

  &__info {
    gap: 3rem;

    @media (max-width: em(1023)) {
      flex-direction: column-reverse;
    }
  }

  &__info-link {
    a {
      color: var(--clr-typography-400);
      transition: color var(--transition);
    }

    @media (hover) {
      &:hover {
        a {
          color: var(--clr-default-100);
        }
      }
    }
  }

  &__line {
    width: 100%;
    height: 0.1rem;
    background-color: var(--clr-typography-400);

    @media (max-width: em(1023)) {
      display: none;
    }
  }

  &__bottom-text {
    flex-shrink: 0;
    font-size: 1.2rem;
    line-height: 160%;
    color: var(--clr-default-100);

    @media (max-width: em(1023)) {
      display: none;
    }
  }
}
