.header {
  z-index: 5;
  padding-top: 2rem;
  min-height: 14rem;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__contact {
    gap: 4.5rem;

    &-right {
      gap: 1.5rem;
    }

    @media (max-width: em(992)) {
      display: none;
    }
  }

  &__tell {
    gap: 1rem;

    .text {
      color: var(--clr-default-100);
    }
  }

  &__whatsapp {
    padding: 0.8rem;
    min-height: 4rem;

    .icon {
      opacity: 0.5;
      transition: opacity var(--transition);
    }

    &:hover {
      .icon {
        opacity: 1;
      }
    }
  }

  &__button {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    min-height: 4rem;
  }

  @media (max-width: em(1580)) {
    padding-top: 1rem;
  }

  &--bg {
    position: relative;
    overflow: hidden;
    padding-top: initial;
    max-height: 10rem;

    .burger {
      margin-top: initial;
      margin-bottom: initial;
    }

    .header__wrapper {
      @media (max-width: em(992)) {
        gap: 2.5rem;
      }

      @media (max-width: em(575)) {
        gap: 1.4rem;
      }
    }

    .logo {
      @media (max-width: em(992)) {
        max-width: 11rem;
      }

      @media (max-width: em(575)) {
        max-width: 8rem;
      }
    }

    .header__mobile-phone {
      display: none;

      @media (max-width: em(992)) {
        display: block;
        margin-left: auto;
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-image: url("/img/ui/header-bg.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
