.benefits {
  padding-top: 5rem;

  &__top {
    position: relative;
    min-height: 30rem;

    &-title {
      padding-right: 9rem;
      width: 100%;
      max-width: 56rem;
      gap: 1.3rem;

      h2 {
        font-family: DINPro, sans-serif;
        font-weight: 700;
        font-size: fluid-font(6rem, 4rem);
        line-height: 100%;
        color: var(--clr-typography-700);
      }

      span {
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        font-family: DINPro, sans-serif;
        font-weight: 700;
        font-size: fluid-font(6rem, 4rem);
        line-height: 110%;
        color: var(--clr-accent-500);
        background-color: var(--clr-bg-400);
      }

      @media (max-width: em(1023)) {
        padding-right: initial;
        max-width: initial;
      }
    }

    &-logo {
      position: absolute;
      left: 50%;
      z-index: 1;
      width: 30rem;
      height: 30rem;
      transform: translateX(-50%);

      @media (max-width: em(1023)) {
        display: none;
      }
    }

    &-description {
      width: 100%;
      max-width: 56rem;
      gap: 1.8rem;

      h3 {
        padding-bottom: 0.5rem;
        padding-left: 17rem;
        font-weight: 500;
        font-size: fluid-font(2.5rem, 2.2rem);
        line-height: 140%;
        color: var(--clr-default-100);
        background-color: var(--clr-bg-400);

        @media (max-width: em(1023)) {
          padding-bottom: initial;
          padding-left: initial;
          text-align: center;
          color: var(--clr-typography-700);
          background-color: initial;
        }
      }

      p {
        padding-left: 17rem;
        line-height: 160%;

        @media (max-width: em(1023)) {
          padding-left: initial;
          text-align: center;
        }
      }

      @media (max-width: em(1023)) {
        max-width: initial;
        gap: 1rem;
      }
    }

    @media (max-width: em(1023)) {
      flex-direction: column;
      min-height: initial;
      gap: 2rem;
    }
  }

  //list

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.5rem;
    gap: 2rem;

    @media (max-width: em(992)) {
      display: grid;
      align-items: flex-start;
      grid-template-columns: repeat(2, 1fr);
      margin-right: auto;
      margin-left: auto;
      max-width: 60rem;
    }
  }

  &__item {
    gap: 1.5rem;

    &-text {
      line-height: 160%;
      text-align: center;
    }

    &:last-child {
      grid-column: 1 /3;
    }

    @media (max-width: em(992)) {
      gap: 0.5rem;
    }
  }

  //info

  &__info {
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 58rem;
    gap: 3rem;

    &-text {
      gap: 1.5rem;

      h3 {
        font-size: fluid-font(2.5rem, 2.2rem);
        text-align: center;
        color: var(--clr-typography-700);
      }

      p {
        font-size: fluid-font(2rem, 1.6rem);
        line-height: 150%;
        text-align: center;
      }

      @media (max-width: em(1023)) {
        gap: 1.2rem;
      }
    }

    &-button {
      margin-right: auto;
      margin-left: auto;
    }

    @media (max-width: em(1023)) {
      margin-top: 4rem;
      gap: 2rem;
    }
  }
}
