.specialist {
  padding-top: 8rem;

  &__wrapper {
    gap: 6rem;

    @media (max-width: em(1460)) {
      gap: 3rem;
    }

    @media (max-width: em(1023)) {
      flex-direction: column;
    }
  }

  &__image {
    position: relative;
    flex-shrink: 0;
    margin-top: auto;
    max-width: 53rem;

    &-decor {
      position: absolute;
      left: 4rem;
      bottom: 5rem;
      gap: 5rem;

      .icon {
        padding-left: 5rem;
      }

      .text {
        font-family: DINPro, sans-serif;
        font-weight: 300;
        font-size: fluid-font(3.5rem, 2.8rem);
        line-height: 140%;
        color: var(--clr-default-100);
      }
    }

    &-mobile {
      position: relative;
      display: none;
      margin-right: auto;
      margin-left: auto;

      &-decor {
        position: absolute;
        left: 2rem;
        bottom: 4rem;
        gap: 2rem;

        .title {
          max-width: 28rem;
          font-family: DINPro, sans-serif;
          font-weight: 700;
          font-size: fluid-font(5.8rem, 3.8rem);
          line-height: 100%;
          color: var(--clr-default-100);
        }

        .text {
          max-width: 28rem;
          font-family: DINPro, sans-serif;
          font-weight: 300;
          font-size: 1.8rem;
          line-height: 140%;
          color: var(--clr-default-100);
        }
      }

      @media (max-width: em(575)) {
        display: block;
      }
    }

    @media (max-width: em(1023)) {
      margin-right: auto;
      margin-left: auto;
    }

    @media (max-width: em(575)) {
      display: none;
    }
  }

  &__content {
    max-width: 53rem;
    gap: 3.2rem;

    @media (max-width: em(1023)) {
      max-width: initial;
    }
  }

  &__title {
    padding-bottom: 2.5rem;
    font-family: DINPro, sans-serif;
    font-size: fluid-font(9.5rem, 6rem);
    line-height: 100%;
    color: var(--clr-typography-700);

    span {
      position: relative;
      padding-bottom: 2rem;
      color: var(--clr-accent-400);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.1rem;
        background-color: var(--clr-accent-500);
      }
    }

    @media (max-width: em(575)) {
      display: none;
    }
  }

  &__subtitle {
    font-size: fluid-font(2rem, 1.8rem);
    line-height: 160%;
    color: var(--clr-typography-600);
  }

  &__description {
    gap: 1.5rem;

    p {
      line-height: 160%;
    }
  }

  &__year {
    gap: 3rem;

    &-text {
      align-items: center;
      gap: 3rem;

      p {
        font-family: DINPro, sans-serif;
        font-weight: 300;
        font-size: fluid-font(3.5rem, 1.8rem);
        line-height: 140%;
        color: #858585;
      }

      @media (max-width: em(1080)) {
        flex-direction: column;
        align-items: flex-start;
        gap: initial;
      }
    }
  }

  &__button {
    @media (max-width: em(575)) {
      max-width: initial;
    }
  }

  @media (max-width: em(575)) {
    padding-top: 5rem;
  }
}
